# typical files made in repo
*.txt
*.log
*.pdf
*.csv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
data/
log/
devices/

# autosave
*~

# Flask stuff:
instance/
.webassets-cache

# Jupyter Notebook
*.ipynb
.ipynb_checkpoints
